nodeRed-RPi-sine.json
[{"id":"5bd526e6.fcde58","type":"ibmiot in","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"b827eb1536b3","applicationId":"","deviceType":"RaspberryPi","eventType":"","commandType":"","format":"","name":"RPi status message","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":true,"allCommands":"","allFormats":true,"x":105,"y":292,"z":"6667b901.3dd0f","wires":[["23cf5072.35247"]]},{"id":"23cf5072.35247","type":"function","name":"output from sine","func":"return {payload:msg.payload.d.sine};","outputs":1,"valid":true,"x":304,"y":370,"z":"6667b901.3dd0f","wires":[["ae327cf.b3761"]]},{"id":"ae327cf.b3761","type":"switch","name":"Route on payload level","property":"payload","rules":[{"t":"gt","v":"0.4"},{"t":"btwn","v":"-0.4","v2":"0.4"},{"t":"lt","v":"-0.4"}],"checkall":"false","outputs":3,"x":373,"y":479,"z":"6667b901.3dd0f","wires":[["101e3f26.0df5c1"],["d2b1477b.aa7c5"],["2cff0ea6.5e539a"]]},{"id":"101e3f26.0df5c1","type":"template","name":"Red","field":"payload","format":"json","template":"{ \"delay\" : 1 }","x":595,"y":362,"z":"6667b901.3dd0f","wires":[["ee7b419a.69cc6","8ceaa0eb.861a4"]]},{"id":"d2b1477b.aa7c5","type":"template","name":"Yellow","field":"payload","format":"json","template":"{ \"delay\" : 2 }","x":593,"y":420,"z":"6667b901.3dd0f","wires":[["ee7b419a.69cc6","8ceaa0eb.861a4"]]},{"id":"2cff0ea6.5e539a","type":"template","name":"Green","field":"payload","format":"json","template":"{ \"delay\" : 3 }","x":591,"y":485,"z":"6667b901.3dd0f","wires":[["ee7b419a.69cc6","8ceaa0eb.861a4"]]},{"id":"ee7b419a.69cc6","type":"debug","name":"","active":true,"console":"false","complete":"false","x":855,"y":448,"z":"6667b901.3dd0f","wires":[]},{"id":"8ceaa0eb.861a4","type":"ibmiot out","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"b827eb1536b3","deviceType":"RaspberryPi","eventCommandType":"reboot","format":"json","data":"{ \"delay\" : 2 }","name":"Set R-Pi Color by Int","service":"registered","x":871,"y":318,"z":"6667b901.3dd0f","wires":[]}]
