nodeRed-RPi-processing.json
[{"id":"26a2dad.fd95d26","type":"ibmiot in","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"9cce4a71b3bf","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"Gamma Ray Sensor","service":"quickstart","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":false,"x":100.85714721679688,"y":44.071441650390625,"z":"6667b901.3dd0f","wires":[["7601162e.89fee8"]]},{"id":"7601162e.89fee8","type":"function","name":"Gamma Ray level","func":"return {payload:msg.payload.d.humidity};","outputs":1,"valid":true,"x":137.8214111328125,"y":150.78564453125,"z":"6667b901.3dd0f","wires":[["3e1f743c.c1e08c","bd385f48.42c7a"]]},{"id":"3e1f743c.c1e08c","type":"switch","name":"Gamma Threshold","property":"payload","rules":[{"t":"lte","v":"3"},{"t":"gt","v":"3"}],"checkall":"true","outputs":2,"x":320.2856750488281,"y":94.85710144042969,"z":"6667b901.3dd0f","wires":[["2cff0ea6.5e539a"],["d2b1477b.aa7c5"]]},{"id":"bd385f48.42c7a","type":"debug","name":"device data","active":false,"complete":"false","x":160.07131958007812,"y":327.1428527832031,"z":"6667b901.3dd0f","wires":[]},{"id":"ee7b419a.69cc6","type":"debug","name":"","active":true,"console":"false","complete":"false","x":871.9642333984375,"y":356.9286193847656,"z":"6667b901.3dd0f","wires":[]},{"id":"2cff0ea6.5e539a","type":"template","name":"Green","field":"payload","format":"json","template":"{ \"delay\" : 3 }","x":487.07135009765625,"y":61.785736083984375,"z":"6667b901.3dd0f","wires":[["ee7b419a.69cc6","8ceaa0eb.861a4","426bee9d.1e95"]]},{"id":"d2b1477b.aa7c5","type":"template","name":"Yellow","field":"payload","format":"json","template":"{ \"delay\" : 2 }","x":376.92852783203125,"y":232.5,"z":"6667b901.3dd0f","wires":[["aa5b0faa.00beb8"]]},{"id":"101e3f26.0df5c1","type":"template","name":"Red","field":"payload","format":"json","template":"{ \"delay\" : 1 }","x":603.9286499023438,"y":368.96429443359375,"z":"6667b901.3dd0f","wires":[["ee7b419a.69cc6","8ceaa0eb.861a4"]]},{"id":"8ceaa0eb.861a4","type":"ibmiot out","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"b827eb1536b3","deviceType":"RaspberryPi","eventCommandType":"reboot","format":"json","data":"{ \"delay\" : 2 }","name":"Set R-Pi Color by Int","service":"registered","x":887.9643211364746,"y":164.4285430908203,"z":"6667b901.3dd0f","wires":[]},{"id":"17929761.e11cc1","type":"http request","name":"Get Location","method":"GET","ret":"obj","url":"https://gamma-rover.mybluemix.net/stop","x":366.42840576171875,"y":417.857177734375,"z":"6667b901.3dd0f","wires":[["101e3f26.0df5c1","f1cc3cf2.ba3eb"]]},{"id":"fd6e4d89.11c8b","type":"http in","name":"Request for Coordinates","url":"/stop","method":"get","x":152.85714721679688,"y":582.5,"z":"6667b901.3dd0f","wires":[["b09f5103.c34078"]]},{"id":"75654522.329304","type":"http response","name":"Response","x":626.2501220703125,"y":582.3214721679688,"z":"6667b901.3dd0f","wires":[]},{"id":"f1cc3cf2.ba3eb","type":"cloudant out","service":"gamma-rover-cloudantNoSQLDB","cloudant":"","name":"Store Position","database":"position","payonly":true,"operation":"insert","x":601.2500610351562,"y":452.5,"z":"6667b901.3dd0f","wires":[]},{"id":"aa5b0faa.00beb8","type":"trigger","op1":"1","op2":"0","op1type":"pay","op2type":"val","duration":"0","extend":"false","units":"ms","name":"Send Yellow message once","x":631.25,"y":252.5,"z":"6667b901.3dd0f","wires":[["8ceaa0eb.861a4","ee7b419a.69cc6","17929761.e11cc1"]]},{"id":"b09f5103.c34078","type":"template","name":"Simple Location","field":"payload","format":"json","template":"{ \"x\" : 1.0, \"y\" : 1.0, \"z\" : 1.0 }","x":397.5,"y":582.5,"z":"6667b901.3dd0f","wires":[["75654522.329304"]]},{"id":"426bee9d.1e95","type":"template","name":"reset","field":"reset","format":"json","template":"{ \"reset\" : \"true\" }","x":515,"y":156.25,"z":"6667b901.3dd0f","wires":[["aa5b0faa.00beb8"]]}]
