nodeRed-RPi-processing.json
[{"id":"26a2dad.fd95d26","type":"ibmiot in","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"7cbb99f8bd21","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"Gamma Ray Sensor","service":"quickstart","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":false,"x":105.85713195800781,"y":101.57144355773926,"z":"6667b901.3dd0f","wires":[["7601162e.89fee8"]]},{"id":"7601162e.89fee8","type":"function","name":"Gamma Ray level","func":"return {payload:msg.payload.d.humidity};","outputs":1,"valid":true,"x":164.07142639160156,"y":208.2856502532959,"z":"6667b901.3dd0f","wires":[["3e1f743c.c1e08c","bd385f48.42c7a"]]},{"id":"3e1f743c.c1e08c","type":"switch","name":"Gamma Threshold","property":"payload","rules":[{"t":"lte","v":"3"},{"t":"gt","v":"3"}],"checkall":"true","outputs":2,"x":342.78562927246094,"y":134.85708236694336,"z":"6667b901.3dd0f","wires":[["2cff0ea6.5e539a"],["d2b1477b.aa7c5"]]},{"id":"bd385f48.42c7a","type":"debug","name":"device data","active":true,"complete":"false","x":323.82135009765625,"y":302.1428527832031,"z":"6667b901.3dd0f","wires":[]},{"id":"ee7b419a.69cc6","type":"debug","name":"","active":false,"console":"false","complete":"false","x":860.7142639160156,"y":369.4286060333252,"z":"6667b901.3dd0f","wires":[]},{"id":"2cff0ea6.5e539a","type":"template","name":"Green","field":"payload","format":"json","template":"{ \"delay\" : 3 }","x":539.5713920593262,"y":69.28573989868164,"z":"6667b901.3dd0f","wires":[["ee7b419a.69cc6","8ceaa0eb.861a4"]]},{"id":"d2b1477b.aa7c5","type":"template","name":"Yellow","field":"payload","format":"json","template":"{ \"delay\" : 2 }","x":534.4285507202148,"y":200.00000476837158,"z":"6667b901.3dd0f","wires":[["ee7b419a.69cc6","8ceaa0eb.861a4"]]},{"id":"101e3f26.0df5c1","type":"template","name":"Red","field":"payload","format":"json","template":"{ \"delay\" : 1 }","x":610.1786499023438,"y":331.46429443359375,"z":"6667b901.3dd0f","wires":[["ee7b419a.69cc6","8ceaa0eb.861a4"]]},{"id":"8ceaa0eb.861a4","type":"ibmiot out","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"b827eb1536b3","deviceType":"RaspberryPi","eventCommandType":"reboot","format":"json","data":"{ \"delay\" : 2 }","name":"Set R-Pi Color by Int","service":"registered","x":876.7143211364746,"y":159.4285430908203,"z":"6667b901.3dd0f","wires":[]},{"id":"17929761.e11cc1","type":"http request","name":"","method":"GET","ret":"txt","url":"","x":492.67840576171875,"y":431.607177734375,"z":"6667b901.3dd0f","wires":[["101e3f26.0df5c1"]]},{"id":"fd6e4d89.11c8b","type":"http in","name":"Request for Coordinates","url":"/stop","method":"get","x":146.60714721679688,"y":525,"z":"6667b901.3dd0f","wires":[["eb4ef4c.99bf608"]]},{"id":"eb4ef4c.99bf608","type":"function","name":"","func":"\nreturn msg;","outputs":1,"valid":true,"x":341.60711669921875,"y":524.107177734375,"z":"6667b901.3dd0f","wires":[["75654522.329304"]]},{"id":"75654522.329304","type":"http response","name":"Response","x":501.2501220703125,"y":524.8214721679688,"z":"6667b901.3dd0f","wires":[]},{"id":"f1cc3cf2.ba3eb","type":"cloudant out","service":"gamma-rover-cloudantNoSQLDB","cloudant":"","name":"Store Position","database":"","payonly":true,"operation":"insert","x":736.2500610351562,"y":512.5,"z":"6667b901.3dd0f","wires":[]}]
